%h1= t('revent.edit_participant')
= bootstrap_form_for @participant, url: {action: 'update'}, method: 'PATCH'  do |form|
  = render 'layouts/participant_form', p: form
  .form-group
    %button.btn.btn-block.btn-primary{:type=>'submit'}
      = t('save')