%h1= t('new_participant')
= bootstrap_form_for @participant do |form|
  = render 'layouts/participant_form', p: form
  %button.btn.btn-block.btn-success
    %span.glyphicon.glyphicon-plus
    =t('add_participant')